.modal__graphs {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    
}

.modal__graph {
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
    height: 700px;
    width: 700px;
}

.modal__graph-text {
    text-align: center;
    font-size: 22px;
}