.tasks-page__table {
    width: 100%;
    border-top: 1px solid #C4C4C4;
    margin-top: 16px;
}

.tasks-page__row {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.tasks-page__cell {
    text-align: center;
    padding: 8px 0px;
    border-right: 1px solid #C4C4C4;
    border-bottom: 1px solid #C4C4C4;
}

.tasks-page__cell.green {
    color: rgb(3, 144, 3);
    font-weight: 500;
}

.tasks-page__head-row {
    .tasks-page__cell {
        text-align: center;
        color: #616161;
        padding: 8px 0px;
        background-color: #fafafa;
        border-right: 1px solid #C4C4C4;
        border-bottom: 1px solid #C4C4C4;
    }
}

.tasks-page__row:not(.tasks-page__head-row) {
    &:hover {
        cursor: pointer;
        font-weight: 500;

        .tasks-page__cell.green {
            font-weight: 600;
        }
    }
}