.add-task-page__modal {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: none;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);

    .add-task-page__modal-content {
        width: 300px;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: #f0f0f0;
        padding: 20px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;

        .modal-input {
            outline: none;
            box-sizing: border-box;
            padding-block: 0;
            padding-inline: 0;
            padding-left: 5px;
            height: 32.8px;
            border: 1px solid #858585;
            border-radius: 4px;
            background-color: #E7EFF8;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px;
        }

        .modal__buttons-block {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .modal__button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 80px;
                background-color: #E7EFF8;
                transition: all 0.2s;
                outline: 1px solid #858585;
                padding: 8px 0px;
                border-radius: 4px;
                border: none;
                box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px;

                &:hover {
                    cursor: pointer;
                    background-color: #E7EFF8;
                    outline: 1px solid black;
                }

                .add-button__icon {
                    width: 16px;
                    height: 16px;
                    margin-right: 8px;
                    background-image: url("./icons/plus-black.png");
                    background-size: contain;
                    background-repeat: no-repeat;
                }
            }

            .modal__button-no {}

            .modal__button-yes {}
        }
    }
}

.add-task-page__modal.active {
    display: flex;
}


.add-task-page__content {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.add-task-page__header {
    box-sizing: border-box;
    width: 100%;
    padding: 15px 20px;
    border-bottom: #E5E5E5 1px solid;
}

.add-task-page__header-title {
    display: flex;
}

.add-task-page__header-icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    background-image: url("./icons/plus-black.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.add-task-page__label {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-top: 10px;
    margin-left: 20px;
}

.add-task-page__add-data-btn {
    margin-top: 10px;
    display: flex;
    align-items: center;
    align-self: flex-end;
    justify-content: center;
    width: 150px;
    background-color: #E7EFF8;
    outline: 1px solid #E7EFF8;
    padding: 8px 10px;
    border-radius: 4px;
    border: none;
    transition: all 0.2s;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px;

    a {
        color: black;
        text-decoration: none;
    }

    &:hover {
        cursor: pointer;
        outline: 1px solid #858585;
    }

    .add-task-page__add-btn-icon {
        // background-image: url("./icons/import.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.add-task-page__label-icon {
    height: 20px;
    width: 20px;
    background-image: url("./icons/info.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.add-task-page__table {
    border-top: 1px solid #C4C4C4;
    margin-top: 16px;
    pointer-events: none;
}

.add-task-page__table-a-wrapper {
    margin-top: 20px;
}

.add-task-page__table-b-wrapper {
    margin-top: 50px;
}

.add-task-page__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.add-task-page__cell {
    text-align: center;
    padding: 8px 0px;
    border-right: 1px solid #C4C4C4;
    border-bottom: 1px solid #C4C4C4;
}

.add-task-page__cell.green {
    color: rgb(143, 143, 143);
    font-weight: 500;
}

.add-task-page__head-row {
    .add-task-page__cell {
        text-align: center;
        color: #a2a2a2;
        padding: 8px 0px;
        background-color: #eae9e9;
        border-right: 1px solid #C4C4C4;
        border-bottom: 1px solid #C4C4C4;
    }
}

.add-task-page__table-wrapper {
    label {
        color: rgb(143, 143, 143);

        &:hover {
            cursor: pointer;
        }
    }
}

.add-task-page__table-wrapper.active {
    label {
        color: black;

        &:hover {
            cursor: auto;
        }
    }

    .add-task-page__table {
        pointer-events: all;
    }

    .add-task-page__head-row {
        .add-task-page__cell {
            text-align: center;
            color: #616161;
            padding: 8px 0px;
            background-color: #fafafa;
            border-right: 1px solid #C4C4C4;
            border-bottom: 1px solid #C4C4C4;
        }
    }

    .add-task-page__cell.green {
        color: rgb(3, 144, 3);
        // color: #1565C0;
        font-weight: 500;

        &:hover {
            font-weight: 600;
        }
    }

    .add-task-page__row:not(.add-task-page__head-row) {
        &:hover {
            cursor: pointer;
            font-weight: 500;
        }
    }

    .add-task-page__row.row-active:not(.add-task-page__head-row) {
        color: #1565C0;
        font-weight: 500;
        cursor: auto;

        .add-task-page__cell.green {
            color: #1565C0;
            // color: #1565C0;
            font-weight: 500;

            &:hover {
                font-weight: 500;
            }
        }
    }
}


.add-task-page__add-btn {}

.add-task-page__add-btn {
    position: relative;
    margin-top: 50px;
    display: flex;
    align-items: center;
    align-self: flex-end;
    justify-content: center;
    width: 150px;
    background-color: #ecf1f8;
    outline: 1px solid #E7EFF8;
    color: rgb(143, 143, 143);
    padding: 8px 10px;
    border-radius: 4px;
    border: none;
    transition: all 0.2s;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px;


    .add-task-page__add-btn-icon {
        // background-image: url("./icons/import.png");
        background-size: contain;
        background-repeat: no-repeat;
    }

    .add-task-page__add-btn-arrow {
        position: absolute;
        transition: all 0.2s;
        opacity: 0;
        height: 28px;
        width: 28px;
        right: -35px;
        background-image: url("./icons/green-arrow.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
}

@keyframes appearance {
    0% {
        rotate: -15deg;
    }

    20% {
        rotate: 0deg;
    }

    40% {
        rotate: 15deg;
    }

    60% {
        rotate: 0deg;
    }

    80% {
        rotate: -15deg;
    }

    100% {
        rotate: 0deg;
    }
}

.add-task-page__add-btn.active-btn {
    .add-task-page__add-btn-arrow {
        // transform: ;
        opacity: 1;
        animation: 0.4s ease-in 0s appearance;
    }
}

.add-task-page__add-btn.active {
    color: black;
    background-color: #E7EFF8;

    &:hover {
        cursor: pointer;
        background-color: #E7EFF8;
        outline: 1px solid #858585;
    }

    &:focus {
        background-color: #ababab;
    }
}