.data-page {
    // width: 100%;
}

.data-page__header {
    box-sizing: border-box;
    width: 100%;
    padding: 15px 20px;
    border-bottom: #E5E5E5 1px solid;
}

.data-page__header-title {
    display: flex;
}

.data-page__header-icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    background-image: url("./icons/data-black.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.data-page__content {
    // padding: 15px 20px;
}

.data-page__buttons-cnt {
    display: flex;
    column-gap: 10px;
    margin-top: 15px;
    margin-left: 20px;
}

.data-page__import-btn {
    display: flex;
    align-items: center;
    width: 200px;
    background-color: #E7EFF8;
    transition: all 0.2s;
    outline: 1px solid #E7EFF8;
    padding: 8px 10px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px;

    &:hover {
        cursor: pointer;
        outline: 1px solid #858585;
    }

    .import-btn__icon {
        width: 16px;
        height: 16px;
        margin-right: 8px;
        background-image: url("./icons/import.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.data-page__add-btn {
    .add-btn__icon {
        background-image: url("./icons/plus-black.png");
    }
}

.data-page__table {
    width: 80%;
    border-top: 1px solid #C4C4C4;
    margin-top: 16px;
}

.data-page__row {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.data-page__cell {
    text-align: center;
    padding: 8px 0px;
    border-right: 1px solid #C4C4C4;
    border-bottom: 1px solid #C4C4C4;
}

.data-page__cell.green {
    color: rgb(3, 144, 3);
    font-weight: 500;
}

.data-page__head-row {
    .data-page__cell {
        text-align: center;
        color: #616161;
        padding: 8px 0px;
        background-color: #fafafa;
        border-right: 1px solid #C4C4C4;
        border-bottom: 1px solid #C4C4C4;
    }
}

.data-page__cell-edit {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    &:hover {
        cursor: pointer;

        .data-page__cell-edit-icon {
            border-radius: 2px;
            background-color: #c9c8c8;
        }
    }

    .data-page__cell-edit-icon {
        background-image: url("./icons/edit.png");
        height: 22px;
        width: 22px;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.data-page__cell-trash {
    .data-page__cell-edit-icon {
        background-image: url("./icons/trash.png");
    }
}