.menu {
    position: relative;
    box-sizing: border-box;
    padding: 0px 5px;
    background-color: #00564c;
    height: 100%;
    min-width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    transition: all 0.2s;
}

.menu.active {
    min-width: 240px;
    align-items: flex-start;
    background-color: #fff;
    box-shadow: 0px 9px 22px -2px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.menu__toggle-btn {
    height: 30px;
    width: 30px;
    border: none;
    outline: none;
    background: none;
    background-image: url("./icons/s.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 10px;

    &:hover {
        cursor: pointer;
        background-image: url("./icons/arrow.png");
    }
}

.menu__logo {
    display: none;
    color: #00564c;
    font-weight: 600;
    font-size: 20px;
}

.menu__items-cnt {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
}

.menu__item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 3px 0px;
    text-decoration: none;
    color: black;
    box-sizing: content-box;
    margin-bottom: 10px;

    &:hover {
        background-color: #00342E;
        cursor: pointer;
    }
}

.menu__item.active {
    background-color: #00342E;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px;
}

.menu__item-icon {
    background-size: contain;
    background-repeat: no-repeat;
    height: 23px;
    width: 23px;
}

.menu__add-task {
    justify-content: center;
    margin-bottom: 20px;

    &:hover {
        background-color: #00342E;
    }

    .menu__item-icon {
        width: 28px;
        height: 28px;
        background-image: url("./icons/plus-big.png");
    }

    .menu__item-text {
        color: white;
    }
}

.menu__item-text {
    display: none;
}

.menu__list {
    .menu__item-icon {
        background-image: url("./icons/list-white.png");
    }
}

.menu__data {
    .menu__item-icon {
        background-image: url("./icons/data-white.png");
    }
}

.active {
    .menu__toggle-btn {
        margin-left: auto;
        background-image: url("./icons/arrow-prev.png");
        margin-top: 0;

        &:hover {
            border-radius: 2px;
            background-color: rgb(221, 223, 223);
        }
    }

    .menu__logo,
    .menu__items-cnt {
        display: flex;
    }

    .menu__item {
        justify-content: flex-start;
        padding: 8px 10px;

        .menu__item-icon {
            margin-right: 8px;
            height: 16px;
            width: 16px;
        }

        .menu__item-text {
            display: flex;
        }

        &:hover {
            background-color: #efefef;
        }
    }

    .menu__item.active {
        background-color: #E7EFF8;
    }

    .menu__add-task.active {
        background-color: #0c3768;
    }

    .menu__add-task {
        background-color: #1565C0;
        // box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px;

        .menu__item-icon {
            background-image: url("./icons/plus-small.png");
        }

        &:hover {
            background-color: #0c3768;
        }
    }

    .menu__list {
        .menu__item-icon {
            background-image: url("./icons/list-black.png");
        }
    }

    .menu__data {
        .menu__item-icon {
            background-image: url("./icons/data-black.png");
        }
    }
}