.modal {
    position: absolute;
    display: none;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(2px);
    justify-content: center;
    align-items: center;
}

.modal.active {
    display: flex;
}

.modal__content {
    box-sizing: border-box;
    padding: 30px;
    width: 50%;
    height: 100%;
}