.task-info__content {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.task-info__modal {
    display: none;
    position: absolute;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(4px);
}

.task-info__modal-button {
    position: absolute;
    right: 16%;
    top: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    background-color: #E7EFF8;
    transition: all 0.2s;
    // outline: 1px solid #858585;
    padding: 6px 0px;
    border-radius: 4px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px;

    &:hover {
        cursor: pointer;
        background-color: #E7EFF8;
        // outline: 1px solid black;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 5px;
    }
}

.task-info__modal.active {
    display: flex;
}

.task-info__text {
    margin-bottom: 10px;
    text-align: center;
}

.task-info__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    background-color: #E7EFF8;
    transition: all 0.2s;
    // outline: 1px solid #858585;
    padding: 8px 0px;
    border-radius: 4px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px;

    &:hover {
        cursor: pointer;
        background-color: #E7EFF8;
        // outline: 1px solid black;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 5px;
    }
}

.task-info__add-data-btn {
    margin-top: 10px;
    display: flex;
    align-items: center;
    align-self: flex-end;
    justify-content: center;
    width: 150px;
    background-color: #E7EFF8;
    outline: 1px solid #E7EFF8;
    padding: 8px 10px;
    border-radius: 4px;
    border: none;
    transition: all 0.2s;

    a {
        color: black;
        text-decoration: none;
    }

    &:hover {
        cursor: pointer;
        outline: 1px solid #858585;
    }

    .add-task-page__add-btn-icon {
        // background-image: url("./icons/import.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.task-info__top-cnt {
    display: flex;
    align-items: center;
    align-self: flex-start;
    gap: 30px;
    margin-left: 20px;
}

.task-info__line {
    margin-top: 20px;
    width: 100%;
    height: 0.5px;
    background-color: black;
}

.task-info__tables {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    // flex-wrap: wrap;
    justify-content: flex-start;
}

.task-info__table-cnt {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
}

.task-info__table {
    font-size: 20px;
    border-left: 1px solid black;
    border-top: 1px solid black;
}

.task-info__table-row {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: #fafafa;
}

.task-info__table-lambda .task-info__table-row {
    grid-template-columns: repeat(2, 1fr);
}

.task-info__table-row.specific {
    background-color: #bfbfbf;
}

.task-info__table-cell {
    text-align: center;
    padding: 3px 12px;
    background-color: inherit;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 18px;
}

.task-info__head-row .task-info__table-cell {
    font-size: 14px;
    color: #616161;
}

.task-info__table-cell-numb {
    font-size: 14px;
    color: #616161;
}