.tasks-page {
    // width: 100%;
}

.tasks-page__header {
    box-sizing: border-box;
    width: 100%;
    padding: 15px 20px;
    border-bottom: #E5E5E5 1px solid;
    display: flex;
}

.tasks-page__header-title {
    display: flex;
    gap: 8px;
}

.tasks-page__header-text {
    &:hover {
        font-weight: 500;
        cursor: pointer;
    }
}

.tasks-page__header-icon {
    width: 16px;
    height: 16px;
    background-image: url("./icons/list-black.png");
    background-size: contain;
    background-repeat: no-repeat;
}