.dynamic-table-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.dynamic-table {
    // margin-top: 10px;
    font-size: 20px;
    // border-left: 1px solid #C4C4C4;
    // border-top: 1px solid #C4C4C4;
    border-left: 1px solid black;
    border-top: 1px solid black;
}

.dynamic-table__buttons-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dynamic-table__inputs {
    display: none;
    align-items: center;
    column-gap: 10px;

    label {
        &:hover {
            cursor: pointer;
        }
    }
}

.new .dynamic-table__inputs {
    display: flex;
}

.dynamic-table__name-input {
    outline: none;
    box-sizing: border-box;
    padding-block: 0;
    padding-inline: 0;
    padding-left: 5px;
    height: 32.8px;
    border: 1px solid #858585;
    border-radius: 4px;
    background-color: #E7EFF8;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px;
}

.dynamic-table__add-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    background-color: #E7EFF8;
    transition: all 0.2s;
    outline: 1px solid #858585;
    padding: 8px 0px;
    border-radius: 4px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px;

    &:hover {
        cursor: pointer;
        background-color: #E7EFF8;
        outline: 1px solid black;
    }

    .add-button__icon {
        width: 16px;
        height: 16px;
        margin-right: 8px;
        background-image: url("./icons/plus-black.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.dynamic-table__row {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.dynamic-table__cell {
    text-align: center;
    color: #616161;
    padding: 3px 0px;
    background-color: #fafafa;
    // border-right: 1px solid #C4C4C4;
    // border-bottom: 1px solid #C4C4C4;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.dynamic-table__cell-text {
    padding-left: 5px;
}

.dynamic-table__delete-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 0px;
    background-color: #fafafa;
    // border-right: 1px solid #C4C4C4;
    // border-bottom: 1px solid #C4C4C4;
    border-right: 1px solid black;
    border-bottom: 1px solid black;

    &:hover {
        cursor: pointer;
    }

    .dynamic-table__delete-btn-img {
        height: 18px;
        width: 18px;
    }
}

.view {

    .dynamic-table__add-button,
    .dynamic-table__delete-btn {
        display: none;
    }
}

.dynamic-table__delete-btn-img {
    width: 100%;
    height: 80%;
    background: url("./icons/trash.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.dynamic-table__input {
    font-size: 18px;
    border: none;
    outline: none;
    width: calc(100% - 5px);
    padding: 0;
    padding-left: 5px;
    background-color: #fafafa;
    text-align: center;
}

.dynamic-table__cell-numb {
    .dynamic-table__input {
        font-size: 14px;
        color: #616161;
    }
}

.dynamic-table__bottom-buttons-panel {
    display: flex;
    justify-content: space-between;
    // margin-top: 10px;
}

.dynamic-table__save-button {
    width: 120px;
    // background-color: rgba(44, 252, 47, 0.953);
    // margin: 0;

    // &:hover {
    //     background-color: rgba(56, 215, 59, 0.953);
    // }

    .save-button__icon {
        background-image: url("./icons/mark.png");
    }
}

.dynamic-table__reset-button {
    width: 120px;
    // background-color: rgba(252, 117, 117, 0.953);
    // margin: 0;

    // &:hover {
    //     background-color: rgba(199, 94, 94, 0.953);
    // }

    .reset-button__icon {
        background-image: url("./icons/reset.png");
    }
}

.dynamic-table__label {
    display: flex;
    align-items: center;
    column-gap: 5px;
    // margin-top: 10px;
    margin-left: 20px;
    text-align: center;
    line-height: 20px;
}

.dynamic-table__label-icon {
    height: 30px;
    width: 30px;
    background-image: url("./icons/info.png");
    background-size: contain;
    background-repeat: no-repeat;
}