@import url('https://rsms.me/inter/inter.css');

* {
    font-size: 14px;
}

html {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.green-text {
    margin: 0;
}